<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ListarProducto</display-name>
    <servlet-name>ListarProducto</servlet-name>
    <servlet-class>com.controlador.ListarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProducto</servlet-name>
    <url-pattern>/ListarProducto</url-pattern>
  </servlet-mapping>
  <display-name>ProductosCRUD_JSTL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EliminarProducto</display-name>
    <servlet-name>EliminarProducto</servlet-name>
    <servlet-class>com.controlador.EliminarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarProducto</servlet-name>
    <url-pattern>/EliminarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProducto</display-name>
    <servlet-name>ModificarProducto</servlet-name>
    <servlet-class>com.controlador.ModificarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProducto</servlet-name>
    <url-pattern>/ModificarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearProducto</display-name>
    <servlet-name>CrearProducto</servlet-name>
    <servlet-class>com.controlador.CrearProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearProducto</servlet-name>
    <url-pattern>/CrearProducto</url-pattern>
  </servlet-mapping>
</web-app>